#toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#toolbar form {
    flex: 1;
}

.generate-report-btn-wrapper {
    margin-left: 10px;
}

.generate-report-btn-wrapper .button {
    padding: 10px 20px;
    background-color: #417690;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    display: inline-block;
}

.generate-report-btn-wrapper .button:hover {
    background-color: #2f5370;
}
